@font-face{
  font-family: 'Abbasy';
  src: url('/AbbasyCalligraphyTypeface.ttf') format('true-type');
}
@font-face{
  font-family: 'Hipster';
  src: url('HipsterishFontNormal.ttf');
}
/* INDEX */
.index-top{
  background-color: #3A3A3A;
  color: white;

}
.logocq{
  width:70%;
  padding-bottom: 8%;
  padding-top: 5%;
}

.banniere{
  padding-top: 3%;
  height: 60%;
  width: 80%;
}

.slogan{
  margin-top: 3%;
}

.logo-rezo{
  width: 25%;
  margin-left: 3%;
  margin-right: 0;
  padding-top: 2%;
}
/* Souci avec la police Abbasy */
 .title{
  font-family: 'Abbasy', 'Hipster', serif;
  font-size: 50px;
  text-align: center;
}

.navbarcustom{
  background-color: #fe9b23;
  opacity: 0.70;
  text-align: center;
}

.nav-link{
  font-family: 'Hipster';
  font-size: 23px;
  font-weight: bold;
}

.days{
  border-top: 3px solid #fe9b23;
  border-bottom: 3px solid #fe9b23;
  margin-top: 15px;
  font-variant: small-caps;
  font-size: 40px;
}
.l-days{
  font-family: 'Hipster';
  font-size: 20px;
  text-align: center;
}

h4{
  font-size: 28px;
}

/* Cards */
.game-pic{
  width: 80%;
  height: 60%;
  border-radius:5px;
}

.game-title{
  font-size: 20px;
  background-color: #fe9b23;
  text-align: center;
  margin-bottom:-3%;
}

.game-text{
  font-weight: bold;
  font-size: 25px;
}
/* Footer */
.footer-color{
  background-color: #3A3A3A;
}
