<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid index-top">
  <div class="row">
    <div class="col-2">
      <img src="assets/logo_sans_titre.png" alt="LOGO" class="logocq">
    </div>
    <div class="col-8 title">
      <img src="assets/titre_avec_bordure.png" alt="Culture Quiz" class="banniere"/>
      <h3 class="slogan">A la recherche du meilleur Quiz / Blind-test</h3>
    </div>
    <div class="col-2">
      <a href="https://www.facebook.com/CultureQuiz/"> <img src="assets/facebook_bleu.png" alt="F" class="logo-rezo" /></a>
      <a href="https://twitter.com/OZythoTeam"> <img src="assets/twitter_bleu.png" alt="T" class="logo-rezo"/></a>
      <a href="https://www.instagram.com/culture.quiz/"> <img src="assets/instagram_rose.png" alt="I" class="logo-rezo"/></a>
    </div>
  </div>
</div>
<!--NavBar-->
<div>
  <nav class="navbar navbar-expand-lg navbar-light navbarcustom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-font">
        <a class="nav-item nav-link active" href="/">Quiz & Blind-tests<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Evénements spéciaux</a>
        <a class="nav-item nav-link" href="#">Qui sommes-nous ?</a>
        <a class="nav-item nav-link" href="#">Contact</a>
      </div>
    </div>
  </nav>
</div>
<!--Body-->
<div class="container-fluid">
  <div class="col-12 l-days">
    <h4 class="days">Lundi</h4>
    <div class="row">
      <div class="col">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">Quiz</h5>
        </div>
        <img src="../assets/photos/four_monkeys_ext.jpg" alt="photo" class="game-pic">
        <p class="game-text">The Four Monkeys - 21h00</p>
      </div>
      <div class="col">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">Quiz</h5>
        </div>
        <img src="../assets/photos/pub_o_clock_ext.jpg" alt="photo" class="game-pic">
        <p class="game-text">Pub O'Clock - 21h00</p>
      </div>
      <div class="col">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">Blind-test</h5>
        </div>
        <img src="../assets/photos/communard_logo.jpg" alt="photo" class="game-pic">
        <p class="game-text">Le Communard</p>
      </div>
    </div>
  </div>
  <div class="col-12 l-days">
    <hr>
    <h4 class="days">Mardi</h4>
    <div class="row">
      <div class="col">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">Blind-test</h5>
        </div>
        <img src="../assets/photos/pere_peinard_ext.jpg" alt="photo" class="game-pic">
        <p class="game-text">Le Père Peinard - 21h00</p>
      </div>
      <div class="col">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">Quiz</h5>
        </div>
        <img src="../assets/photos/delirium_logo.jpg" alt="photo" class="game-pic">
        <p class="game-text">Délirium Café - 20h30</p>
      </div>
      <div class="col">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">Quiz</h5>
        </div>
        <img src="../assets/photos/tricheurs_logos.jpg" alt="photo" class="game-pic">
        <p class="game-text">Les Tricheurs - 20h30</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">Quiz</h5>
        </div>
        <img src="../assets/photos/pery_ext.jpg" alt="photo" class="game-pic">
        <p class="game-text">Le Péry - 21h00</p>
      </div>
      <div class="col">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">Quiz</h5>
        </div>
        <img src="../assets/photos/mulligan_logo.png" alt="photo" class="game-pic">
        <p class="game-text">Mulligan's - 21h00</p>
      </div>
      <div class="col">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">Quiz</h5>
        </div>
        <img src="../assets/logo_avec_titre.png" alt="photo" class="game-pic">
        <p class="game-text">The Dispensary - 21h30</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">Quiz</h5>
        </div>
        <img src="../assets/photos/london_town_ext.jpg" alt="photo" class="game-pic">
        <p class="game-text">The London Town - 21h30</p>
      </div>
    </div>
  </div>
  <div class="col-12 l-days">
    <hr>
    <h4 class="days">Mercredi</h4>
    <div class="row">
      <div class="col-4">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">Quiz</h5>
        </div>
        <img src="../assets/photos/vasco_ext.jpg" alt="photo" class="game-pic">
        <p class="game-text">Vasco Le Gamma - 21h00</p>
      </div>
      <div class="col-4">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">Quiz & Blind-test</h5>
        </div>
        <img src="../assets/photos/george_and_dragon_logo.jpg" alt="photo" class="game-pic">
        <p class="game-text">George & Dragon - 21h30</p>
      </div>
    </div>
  </div>
  <div class="col-12 l-days">
    <hr>
    <h4 class="days">Jeudi</h4>
    <div class="row">
      <div class="col-4">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">Quiz</h5>
        </div>
        <img src="../assets/photos/barboteur_logo.jpg" alt="photo" class="game-pic">
        <p class="game-text">Le Barboteur - 20h45</p>
      </div>
      <div class="col-4">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">Quiz</h5>
        </div>
        <img src="../assets/photos/classroom_logo.png" alt="photo" class="game-pic">
        <p class="game-text">The Classroom - 21h30</p>
      </div>
    </div>
  </div>
  <div class="col-12 l-days">
    <hr>
    <h4 class="days">Vendredi</h4>
    <div class="row">
      <div class="col-4">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">Blind-test</h5>
        </div>
        <img src="../assets/photos/pub_o_clock_ext.jpg" alt="photo" class="game-pic">
        <p class="game-text">Pub O'Clock - 21h00</p>
      </div>
      <div class="col-4">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">Quiz & Blind-test</h5>
        </div>
        <img src="../assets/photos/avalon_ext.jpg" alt="photo" class="game-pic">
        <p class="game-text">Avalon Pub & VR Gaming - 21h00</p>
      </div>
    </div>
  </div>
  <div class="col-12 l-days">
    <hr>
    <h4 class="days">Samedi</h4>
    <div class="row">
      <div class="col-4">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">Blind-test</h5>
        </div>
        <img src="../assets/photos/oboudupont_ext.jpg" alt="photo" class="game-pic">
        <p class="game-text">Ô Boudu Pont - 22h00</p>
      </div>
    </div>
  </div>
  <div class="col-12 l-days">
    <hr>
    <h4 class="days">Dimanche</h4>
    <div class="row">
      <div class="col">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">Quiz & Blind-test</h5>
        </div>
        <img src="../assets/photos/black_lion_ext.jpg" alt="photo" class="game-pic">
        <p class="game-text">The Black Lion - 20h00</p>
      </div>
      <div class="col">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">Quiz & Blind-test</h5>
        </div>
        <img src="../assets/photos/frog _rosbif_logo.png" alt="photo" class="game-pic">
        <p class="game-text">The Frog & Rosbif - 20h00</p>
      </div>
      <div class="col">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">Quiz & Blind-test</h5>
        </div>
        <img src="../assets/photos/tricheurs_logos.jpg" alt="photo" class="game-pic">
        <p class="game-text">Les Tricheurs - 20h30</p>
      </div>
    </div>
  </div>
